/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  color: inherit;
  /* 2 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 3 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit;
  /* 1 */
  text-indent: 0;
  /* 2 */ }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 18;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #060208; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nobile", sans-serif;
  font-weight: 800; }

a {
  display: inline-block;
  color: #2b1537;
  -webkit-transition: all .1s;
  transition: all .1s; }
  a:hover {
    color: #47245b; }
  a:active, a:focus {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9); }

ul,
ol {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0; }

.page-wrap {
  width: 100%;
  background: #f1eff3; }

.main-wrap,
.about,
.projects,
.contact {
  max-width: 1000px;
  margin: 0 auto; }

.about {
  padding: 2rem;
  font-size: 1.1rem;
  line-height: 1.5; }
  @media (min-width: 551px) {
    .about {
      width: 70%;
      max-width: 600px; } }
  .about h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700; }
  .about a {
    -webkit-text-decoration: underline dotted #ad8273;
            text-decoration: underline dotted #ad8273; }
  .about p:first-of-type {
    margin-bottom: 1rem; }

.projects {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.projects h3 {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 2rem; }

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
  grid-template-rows: repeat(auto-fit, auto);
  gap: 20px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contact {
  margin-top: 3rem; }

.contact h5 {
  font-size: 1.8rem;
  text-align: center; }

.page-header {
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #0e0712), color-stop(60%, #2b1537), color-stop(#47245b), color-stop(#643280), color-stop(#d8d2dd), to(#f1eff3));
  background: -webkit-linear-gradient(top, #0e0712 35%, #2b1537 60%, #47245b, #643280, #d8d2dd, #f1eff3);
  background: linear-gradient(180deg, #0e0712 35%, #2b1537 60%, #47245b, #643280, #d8d2dd, #f1eff3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 550px) {
    .page-header {
      height: 100vh; } }
  @media (max-width: 375px) {
    .page-header {
      height: 130vh; } }

.page-header > * {
  color: #d4d0d6; }

.title,
.sub-title {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
  letter-spacing: .1rem; }

.title {
  font-size: 3rem;
  padding: 0 2rem;
  margin-top: 3rem; }

.sub-title {
  font-size: 2rem;
  padding: 0 2rem; }

.card header {
  height: 45px;
  padding: 2rem;
  background: #0e0712;
  color: #f1eff3;
  display: grid;
  border-radius: 5px 5px 0 0;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.card h4 {
  -webkit-text-decoration: underline solid #ad8273 0.1rem;
          text-decoration: underline solid #ad8273 0.1rem;
  text-align: center; }

.card {
  width: auto;
  border-radius: 4px; }

@media (min-width: 885px) {
  .card.coffee {
    grid-column: 1 / -1; } }

.card-img-wrap {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1; }

.card-img-overlay {
  background: rgba(173, 130, 115, 0.6);
  border-radius: 0 0 5px 5px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }

.card-img-wrap:hover .card-img-overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

footer {
  height: 150px;
  width: 100%;
  margin-top: 6rem;
  background: #2b1537;
  color: #f1eff3;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px; }

.footer-links a {
  color: #f1eff3; }
  .footer-links a:hover {
    color: #d8d2dd; }

.footer-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-size: 2rem;
  margin-top: 1rem; }

.mod {
  display: none;
  opacity: 0;
  -webkit-transition: .4s all ease-in;
  transition: .4s all ease-in; }

.mod.show {
  z-index: 11;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: 85vh;
  margin: 0 auto;
  padding-bottom: 2rem;
  background: #f1eff3;
  border: 1px solid #ad8273;
  border-radius: 5px;
  -webkit-box-shadow: rgba(173, 130, 115, 0.6);
          box-shadow: rgba(173, 130, 115, 0.6);
  font-size: 1.1rem;
  font-weight: 600; }
  @media (max-width: 375px) {
    .mod.show {
      width: 99vw;
      height: 90vh; } }

.mod.fadeIn {
  opacity: .98; }

.mod-wrap {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
  overflow-y: scroll; }

.mod {
  font-size: .9rem; }

.mod h5,
.mod h6 {
  text-align: center;
  padding: 1rem; }

.mod h5 {
  font-size: 1.5rem;
  -webkit-text-decoration: underline solid #ad8273 0.1rem;
          text-decoration: underline solid #ad8273 0.1rem; }

.mod h6 {
  font-size: 1.25rem; }

.mod-hero {
  height: 250px;
  background: #2b1537 top center/cover;
  background-blend-mode: lighten; }

#coffee .mod-hero {
  background-image: url(../images/coffee-1-desk.png); }

#sunnyside .mod-hero {
  background-image: url(../images/sunnyside-1.png); }

#mars-rover .mod-hero {
  background-image: url(../images/mars-1.png); }

#pricing-slide .mod-hero {
  background-image: url(../images/page-slider-1.png); }

#four-card .mod-hero {
  background-image: url(../images/four-card-1.png); }

.feature-wrap,
.tech-used {
  padding: 2rem 1rem 1rem;
  width: 100%; }

.feature-wrap,
.tech-wrap {
  width: 90%;
  max-width: 400px;
  margin: 0 auto; }

.feature-img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto 0; }

.tech-list {
  list-style-type: disc;
  padding: 1rem 2rem 1rem 4rem; }

.mod-gallery {
  margin-top: 2rem;
  padding-bottom: 7rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  gap: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mod-gallery img {
    border-radius: 5px; }
  @media (max-width: 375px) {
    .mod-gallery {
      padding-bottom: 9rem; } }

.button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1eff3;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px; }

.overlay {
  display: none; }

.overlay.show {
  display: block;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.nav-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 550px) {
    .nav-container {
      margin-top: 1rem;
      height: auto; } }

.main-nav,
.link-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-nav {
  width: 0;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #d4d0d6;
  border-right: 2px solid #d4d0d6;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  @media (max-width: 550px) {
    .main-nav {
      height: 80px; } }

.main-nav.show {
  min-width: 300px;
  width: auto;
  max-width: 900px;
  margin: 2rem 0 0 2rem;
  padding: 1.5rem 1.5rem 1.5rem 0; }
  @media (max-width: 550px) {
    .main-nav.show {
      min-width: 0;
      height: 250px;
      max-width: 200px;
      margin-top: -20px;
      padding-top: 0;
      padding-bottom: 0; } }

.link-list {
  gap: 20px; }
  @media (max-width: 550px) {
    .link-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.link-list li {
  width: 100px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.open-nav {
  margin-left: 1.5rem;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }

nav a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ad8273;
  -webkit-transition: all .1s;
  transition: all .1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  nav a:hover {
    color: #c09f93; }

.card-img-button {
  padding: .5rem;
  background: none;
  background: rgba(14, 7, 18, 0.5);
  border: 2px solid #f1eff3;
  color: #f1eff3;
  font-weight: 600;
  cursor: pointer; }

.card-img-button:hover {
  -webkit-box-shadow: inset 0 0 5px #d4d0d6;
          box-shadow: inset 0 0 5px #d4d0d6; }

.card-img-button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95); }

.mod-callout {
  background: none;
  border: 2px solid #0e0712;
  border-radius: 3px;
  -webkit-box-shadow: inset 1 1 5px rgba(173, 130, 115, 0.6);
          box-shadow: inset 1 1 5px rgba(173, 130, 115, 0.6);
  width: 140px;
  height: 50px;
  font-weight: 600; }
  .mod-callout a {
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%; }

.mod-callout.live {
  background: rgba(43, 21, 55, 0.8); }
  .mod-callout.live a {
    color: #fff; }
  .mod-callout.live:hover {
    opacity: .9; }

.contact-form {
  width: 80%;
  max-width: 600px;
  margin: 1rem auto;
  padding: 2rem;
  border: 2px solid #0e0712;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #2b1537;
          box-shadow: 0 0 5px #2b1537;
  color: #0e0712;
  font-size: .9rem;
  font-weight: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative; }

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.form-row.name,
.form-row.email {
  display: grid;
  grid-template-columns: 40px 1fr; }

.form-row.message {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%; }

.form-row.submit {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.msg-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

label {
  font-size: .9rem;
  font-weight: 700; }

input[type="text"],
input[type="email"],
textarea {
  background: none;
  background: rgba(43, 21, 55, 0.1);
  border: none;
  border: 2px solid #d4d0d6;
  border-radius: 5px;
  color: #060208;
  font-family: "Nunito", sans-serif; }
  input[type="text"]:active, input[type="text"]:hover, input[type="text"]:-internal-autofill-selected,
  input[type="email"]:active,
  input[type="email"]:hover,
  input[type="email"]:-internal-autofill-selected,
  textarea:active,
  textarea:hover,
  textarea:-internal-autofill-selected {
    background-color: rgba(43, 21, 55, 0.1);
    border: inset 2px solid #d4d0d6; }

input[type="text"],
input[type="email"] {
  height: 30px;
  padding: .5rem;
  width: 100%;
  max-width: 200px;
  margin-left: .5rem;
  overflow-x: scroll; }

textarea {
  display: block;
  width: 75%;
  height: 100px;
  max-width: 500px;
  max-height: 500px;
  margin-left: .5rem;
  padding: .3rem;
  font-size: .9rem; }

.form-submit {
  background: none;
  background: #2b1537;
  width: 85px;
  height: 40px;
  border: 2px solid #d4d0d6;
  border-radius: 5px;
  color: #fff;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .1rem;
  cursor: pointer; }
  .form-submit:hover {
    opacity: .8; }
  .form-submit:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }

.error-message {
  display: none;
  color: #a11c1c;
  grid-column: 2 / 3;
  justify-self: end; }

.status-icon {
  position: absolute;
  top: 10px;
  right: 0; }

.form-row.error .status-icon {
  color: #a11c1c; }

.form-row.error .error-message {
  display: inline-block; }

.form-row.error input {
  border: 2px solid #a11c1c; }

.form-row.success .status-icon {
  color: #026102; }

.form-row.success input {
  border: 2px solid #026102; }

.form-status-message {
  display: none;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in; }
  .form-status-message h6 {
    font-size: 1.5rem;
    -webkit-align-self: end;
        -ms-flex-item-align: end;
            align-self: end; }
  .form-status-message p {
    font-size: 1.1rem; }

.form-status-message.show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(43, 21, 55, 0.8);
  color: white;
  display: grid;
  grid-template-columns: 1;
  justify-items: center; }

.form-status-message.fadeIn {
  opacity: 1; }

.close-mod {
  position: absolute;
  top: -50px;
  right: 5px;
  color: #fff;
  font-size: 2rem;
  opacity: .9;
  cursor: pointer; }
  @media (min-width: 768px) {
    .close-mod {
      top: -60px;
      right: -35px;
      font-size: 2.4rem; } }
  @media (max-width: 375px) {
    .close-mod {
      top: 10px;
      right: 20px;
      color: #0e0712; } }

img {
  width: 100%;
  height: auto; }

.profile-img {
  width: 250px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -130px; }
  @media (max-width: 375px) {
    .profile-img {
      margin-top: -140px;
      width: 200px;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto; } }

.profile-img img {
  width: 250px;
  height: 250px;
  border: 3px solid #2b1537;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px #0e0712;
          box-shadow: 2px 2px 5px #0e0712; }
  @media (max-width: 375px) {
    .profile-img img {
      width: 200px;
      height: 200px;
      border-radius: 50%; } }

.card-img {
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
  grid-column: 1 / -1;
  grid-row: 1 / -1; }

.coffee-small {
  display: block; }
  @media (min-width: 885px) {
    .coffee-small {
      display: none; } }

.coffee-large {
  display: none; }
  @media (min-width: 885px) {
    .coffee-large {
      display: block; } }
