// ======================================
//  Layout Container Styles
// ======================================

// About
.page-wrap {
    width: 100%;
    background: $color-bg;
}
.main-wrap,
.about,
.projects,
.contact {
    max-width: $max-width;
    margin: 0 auto;
}
.about {
    padding: 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    @include mq(sm) {
        width: 70%;
        max-width: 600px;
    }
    & h2 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    & a {
        text-decoration: underline dotted $color-accent;
    }
    & p:first-of-type {
        margin-bottom: 1rem;
    }
}

// Projects
.projects {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.projects h3 {
    text-align: center;
    font-size: 2rem;
    margin: 3rem 0 2rem;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    grid-template-rows: repeat(auto-fit, auto);
    gap: 20px;
    align-content: center;
    justify-content: center;
}

// Contact
.contact {
    margin-top: 3rem;
}
.contact h5 {
    font-size: 1.8rem;
    text-align: center;
}
